<div class="container fluid">
    <div class="d-flex justify-content-center vertical-center">
        <div class="background">

            <span class="text d-flex justify-content-center">Logowanie</span>

            <form>
                
                <input class="form-control" type="text" id="login" placeholder="Login">

                <input class="form-control" type="password" id="password" placeholder="Hasło">

                <input class="form-control" type="submit" class="btn btn-success" value="Zaloguj się">

            </form>
        </div>
    </div>
</div>