<div class="container fluid">
    <div class="d-flex justify-content-center vertical-center">
        <div class="background">

            <span class="text d-flex justify-content-center">Rejestracja</span>

            <form>
                
                <input class="form-control" type="text" id="login" placeholder="Login" [(ngModel)]="userRegister.login"
                    [ngModelOptions]="{standalone: true}">

                <input class="form-control" type="email" id="email" placeholder="Email" [(ngModel)]="userRegister.email"
                    [ngModelOptions]="{standalone: true}">

                <input class="form-control" type="password" id="password" placeholder="Hasło"
                    [(ngModel)]="userRegister.password" [ngModelOptions]="{standalone: true}">

                <input class="form-control" type="submit" class="btn btn-success" value="Zarejestruj się"
                    (click)="register()">

            </form>
        </div>
    </div>
</div>