.background
{
    background-color: grey;
    padding: 30px;
    border-radius: 20px;
}

.vertical-center
{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

input
{
    width: 250px;
    height: 40px;
    display: block;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    border: red;
}

input[type=submit]
{
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.text
{
    color: white;
    font-size: 36px;
    text-align: center;
}